/******************************************************************
Site Name:
Author:

Stylesheet: Admin Stylesheet
******************************************************************/

.post-type-menu_item {
	ul.menu_taxonomy-checklist,
	ul.categorychecklist {
		& > li {
			& > label {
				font-weight: bold;
				input[type="checkbox"] {
					display: none;
				}
			}
		}
	}
}
