@import "libraries/scut";
@import "partials/variables";
@import "partials/typography";
@import "partials/mixins";
@import "modules/buttons";

html.embed,
.wufoo li.focused,
form li.focused {
	background-color: transparent;
}

form.wufoo {

	* {
		outline: none !important;
	}

	li div,
	li span,
	li div label,
	li span label,
	label.desc,
	legend.desc
	{
		font-family: $sans-serif;
		font-weight: $base-weight;
	}

	label.desc,
	legend.desc,
	li span {
		color: black;
	}

	input.text,
	textarea.textarea {
		box-sizing: border-box;
		background: transparentize(whitesmoke, 0.2);
		border: solid 1px $green-dark;
	    padding: 6px 8px;
		&:focus {
			background: transparentize(whitesmoke, 0.05);
		}
	}

	select.select,
	input.radio {
		margin-left: 2px;
	}

	span.req {
	    color: firebrick !important;
	    font-size: 1.9em;
	    top: 8px;
	    position: absolute;
	}
	li {
		@include scut-padding(n 0);
		&.focused {
			background-color: transparent;
			input.text,
			textarea.textarea {
				border-color: $amber;
			}
		}
		&.buttons {
			@include scut-padding(n 0);
			input {
				background-color: transparent;
				@include button;
			}
		}
	}

	#lola {

		border: 1px solid #e6e6e6;
		background-color: #f5f5f5;
		padding: 10px 12px;
		border-radius: 0;
		tfoot {
			display: none;
		}
		tbody td {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

}

form.wufoo#form14,  // cleanse form
form.wufoo#form15,  // cake form
form.wufoo#form16   // lunchbox form
{
	span.req {
		display: none !important;
	}
}
