/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet
******************************************************************/

@mixin ghostback($shift: 0.2) {
	background: transparentize(whitesmoke, $shift);
}

@mixin ghostbord($shift: 0.1) {
	border: solid 1px transparentize(whitesmoke, $shift);
}

@mixin pixW($cols) {
	width: ( $pixColumn * $cols + $pixGutter * ($cols - 1) ) * 1px;
}

@function img-url($file){
  @return url(../images/#{$file});
}
