/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet
******************************************************************/

@mixin ghostback($shift: 0.2) {
	background: transparentize(whitesmoke, $shift);
}

@mixin ghostbord($shift: 0.1) {
	border: solid 1px transparentize(whitesmoke, $shift);
}

}

@function img-url($file){
  @return url(../images/#{$file});
}
