/******************************************************************
Site Name:
Author:

Stylesheet: Typography
******************************************************************/

$sans-serif-display:	'Raleway', sans-serif;
$sans-serif:			'Quattrocento Sans', sans-serif;

$base-weight:			400;
$base-weight-display:	400;

body {
	font-family: $sans-serif;
	font-size: 16px;
	line-height: 1.3;
	color: $text-color;
	font-weight: $base-weight;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

p {
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  hyphens: auto;
  // sets a minimum number of characters before and after the break
  hyphenate-lines: 3;
  // enabling fancy ligatures when available
  font-feature-settings: "liga", "dlig";
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif-display;
	text-rendering: optimizelegibility;
	font-weight: $base-weight-display - 100;
	a {
		text-decoration: none;
	}
}

// font sizes derived here:
// http://type-scale.com/?size=18&scale=1.200&text=Backyard%20Cafe%20Headings&webfont=Raleway&font-family=Raleway

h1, .h1 {
	font-size: 2.074em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.728em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.44em;
}

h4, .h4 {
	font-size: 1.2em;
}

h5, .h5 {
	font-size: 0.833em;
	line-height: 2.09em;
	text-transform: uppercase;
}
