/******************************************************************
Site Name:
Author:

Stylesheet: Typography
******************************************************************/


/*********************
FONT FACE (IN YOUR FACE)
*********************/

/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/


// font stacks
$sans-serif:        "Raleway", sans-serif;;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

$base-weight:			400;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  hyphens: auto;
  // sets a minimum number of characters before and after the break
  hyphenate-lines: 3;
  // enabling fancy ligatures when available
  font-feature-settings: "liga", "dlig";
}

