/******************************************************************
Site Name:
Author:

Stylesheet: Variables
******************************************************************/

/*********************
DIMENSIONS
*********************/

$pixGutter: 20;
$pixColumn: 300;

/*********************
COLORS
*********************/

$black:             #323944;
$white:             #fff;

$g20:				#333;
$g30:				#3c3c3c;
$g60:				#999;
$g70:				#b3b3b3;
$g80:				#ccc;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        black;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #c9f2d7;
$green-dark:        desaturate(darken(#c9f2d7, 30%), 35%);
$green-darker:      desaturate(darken(#c9f2d7, 40%), 35%);
$green-match:       #d9ebdd;

$amber:				#e3a01d;

$pow:				$amber;

$blue:              #2980b9;

$link-color:        $green-dark;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
