/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles
******************************************************************/

@mixin button() {
  border: solid 1px $green-dark;
  padding: 5px 15px;
  font-weight: $base-weight + 100;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  @include transition(border-color 0.14s ease-in-out);
  &:hover,
  &:active {
    color: inherit;
    border-color: $amber;
  }
}
