/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles
******************************************************************/

@mixin button(){
  border: none;
  padding: 5px 15px;
  font-family: $sans-serif-display;
  font-weight: $base-weight + 200;
  color: whitesmoke;
  background-color: $green-darker;
  cursor: pointer;
  display: inline-block;
  @include transition(background-color 0.14s ease-in-out);
  &:hover,
  &:active {
    color: whitesmoke;
    background-color: $amber;
  }
}
