/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

nav {
	clear: none;
	margin-top: 0;
}

.nav {
	display: block;
	li {
		a {
			font-weight: $base-weight-display;
			font-size: 16px;
			@include scut-padding(n 0.75em);
		}
	}
}

.wrap {
  width: 1000px;
}
