/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

i.nav-toggle {
	display: none;
}

nav {
	clear: none;
	margin-top: 0;
}

.nav {
	display: block;
	li {
		a {
			font-weight: 400;
			font-size: 16px;
		}
	}
	& > li {
		& > a {
			@include scut-vcenter-lh(90px);
			@include scut-padding(0 n);
		}
	}
}

.wrap {
  width: 1040px;
}
