/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 98%;
}

.third {
	width: 94/3*1%;
	float: left;
	& + .third {
		margin-left: 3%;
	}

}

.page-hours-location {

	.map {
		width: 360px;
		margin-left: 20px;
		float: right;
	}

}

.page-contact {

	.contact-form {
		margin-left: 20px;
		float: right;
		width: 66%;
		border-bottom: none;
		margin-bottom: 0;
	}

}

/*********************
NAVIGATION STYLES
*********************/

nav {
	float: right;
	clear: right;
}

i.nav-toggle {
	display: none;
}

.nav {
	display: block;
	border: 0;
	margin-bottom: 0;
	ul {
		margin-top: 0;
	}
	li {
		float: left;
		position: relative;
		&:hover, &:focus {
			@include ghostback();
		}
		a {
			border-bottom: 0;
			font-size: 15px;
			padding: 0.75em 0.5em;
			&:hover, &:focus {
				color: black;
			}
		}
		ul.sub-menu,
		ul.children {
			@include ghostback();
			margin-top: 0;
			border-top: 0;
			position: absolute;
			top: auto;
			z-index: 8999;

			li {
				&:hover, &:focus {
					background-color: transparentize($green-dark, 0.7);
				}
				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;

					&:hover,
					&:focus {
					}

					&:link {}
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}
	} /* end .menu ul li */


	& > li {
		& > a {
			@include scut-vcenter-lh(90px);
			@include scut-padding(0 n);
		}
		&:last-child {
			ul.sub-menu {
				right: 0;
			}
		}
	}

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	#inner-footer {
		padding-bottom: 8px;
	}
	.ticulars {
		span {
			display: inline-block;
			& + span {
				margin-left: 6px;
				&:before {
					content: ".";
					margin-right: 6px;
				}
			}
		}
	}
	.ticulars {
		margin: 7px 0 0;
	}
	.octopus {
		margin: 0;
	}
}

/*********************
TEMPLATES & PAGES
*********************/

.home {
	.hentry {
		.entry-content {
			h2 {
				@include scut-padding(n 2em);
				span {
					display: block;
				}
			}
		}
	}
}
