/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	background: $green-match img-url('backyard-bg-mob.png') no-repeat center top fixed;
}

@include scut-sticky-footer-fluid('#container', '.footer');

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

.nopoint {
	&.a, & > a{
		cursor: default;
	}
}

i {
	&.fa-facebook-square:hover {
		color: #3b5998;
	}
	&.fa-instagram:hover {
		color: #3f729b;
	}
	&.fa-tripadvisor:hover {
		color: #589442;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 2.5em;
}

		.hentry {
			@include ghostback();
			@include ghostbord();
			margin-bottom: 1.5em;
			header {
				padding: 1.5em;
				padding-bottom: 0.5em;
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}

			ul {
				list-style-type: circle;
				list-style-position: outside;
				margin-left: 1.5em;

				li {
					& + li {
						margin-top: 5px;
					}
				}

			}

			table {
				width: 100%;
				border-top: 1px solid;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid;
			}

			table, tr {
				border-color: $g80;
			}

			thead {
				th {
					background: transparentize(white, 0.6);
					text-align: left;
					font-family: Raleway, sans-serif;
					font-weight: 600;
					border: none;
				}
			}

			td, th {
				padding: 7px;
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;
			}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: $base-weight;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/*********************
SIDEBARS & ASIDES
*********************/

.no-widgets {
	background-color: $white;
	padding: 1.5em;
	text-align: center;
	border: 1px solid $border-color;
	border-radius: 2px;
	margin-bottom: 1.5em;
}

/*********************
TEMPLATES & PAGES & SECTIONS
*********************/

.pix {
	margin: 0 auto;
	&, .pic, .caption {
		width: 320px;
		max-width: 100%;
	}
	.pic, .caption {
		box-sizing: border-box;
	}
	.pic {
		margin-bottom: $pixGutter * 1px;
	}
	img {
		height: 320px;
		max-width: 100%;
		display: block;
	}
	.caption {
		@include ghostback();
		@include ghostbord();
		border-top: none;
		font-size: 14px;
		line-height: 1.2em;
		padding: 12px 15px;
		display: inline-block;
	}
}

.home,
.page-news {
	.hentry {
		background: none;
		border: none;
	}
}

.page-news {
	.hentry {
		header,
		footer {
			@include ghostback();
			@include ghostbord();
			padding: 1rem;
			max-width: 940px;
			margin: 0 auto 20px;
		}
		footer {
			text-align: center;
			margin-bottom: 0;
			h2 {
				margin: 0;
				font-weight: $base-weight-display;
				a {
					color: inherit;
					i {
						padding-left: 3px;
					}
				}
			}
		}
		.entry-content {
			display: none;
		}
	}
}

.home {
	.hentry {
		header {
			padding-top: 0;
			display: none;
		}
		.entry-content {
			padding-top: 0;
			text-align: center;
			h2 {
				@include ghostbord(0.3);
				@include ghostback(0.5);
				display: inline-block;
				padding: 1em;
				margin: 0;
				font-weight: $base-weight-display + 100;
				font-size: 5.7vw;
				.blam {
					@include ghostbord(0.4);
					border-bottom: none;
					border-left: none;
					border-right: none;
					font-weight: 400;
					font-size: 0.9em;
					margin-top: 0.4em;
					padding-top: 0.3em;
					a {
						color: inherit;
					}
				}
			}
			.TA_certificateOfExcellence {
				#CDSWIDCOE {
					margin: 2rem auto 0;
				}
			}
		}
	}
}

.page-template-template-menu {
	h2:first-of-type {
		margin-top: 0;
	}
	.note-subgroup {
		margin-bottom: 1rem;
	}
	.mi_head {
		font-weight: $base-weight-display;
		font-size: 1em;
		margin-bottom: 0;
		& + .mi_head {
			margin-top: 0.3em;
		}
		span.note {
			font-size: 0.9em;
		}
	}
	.ingredients {
		font-size: 0.95em;
		margin-bottom: 1.2rem;
	}
	.wine_dets {
		font-size: 0.9em;
		margin-bottom: 1.2rem;
	}
	footer.article-footer {
		text-align: center;
		font-size: 0.9em;
		span {
			display: block;
		}
	}
}

.page-visit {
	.map {
		margin-bottom: 1.5em;
	}
}

.page-delivery {
	a.vendor {
		margin-right: 40px;
	}
}

.form-outer {
	p.nb {
		font-family: $sans-serif-display;
		font-weight: $base-weight-display + 200;
	}
}

.page-whole-foods {
	div.wholefoods {
		text-align: center;
		margin-bottom: 1.5em;
	}
	span.wholefood {
		display: inline-block;
		border: solid 1px $amber;
		padding: 4px 9px;
		margin: 0 10px 10px 0;
		font-family: $sans-serif-display;
		font-size: 15px;
		@include ghostback();
	}
}

.page-about {
	.person {
		h3 {
			em {
				font-size: 85%;
			}
		}
		img {
			margin-bottom: 1em;
		}
	}
}

.page-contact {
	.contact-form {
		border-bottom: solid 1px whitesmoke;
		margin-bottom: 30px;
	}
}

// tripadvisor widget fixes
.TA_certificateOfExcellence {
	line-height: 0;
	#CDSWIDCOE {
		margin-left: 0;
	}
}
